#maincontainer {
	width: 100%;
	margin: auto;
	padding: 0;	
}
.banner {
height: 150px;
overflow: hidden;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
#bowlcontainer {
	border: 0;
	padding:0;
	margin: auto;
	height: auto;
	width: 960px;
}
.cols_wrapper {
	overflow:hidden;
	width:100%
}
.spacer {
	clear: both;
	height: 20px;
}
.shadow {
    -moz-box-shadow: 10px 10px 5px #888888;
    -webkit-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#cccccc');
}
#mainmenu {
	text-align: center;
	display: none;
}
#mainmenu button {
	width: 200px;
}
.playfield {
	border: 0px solid #eee;
	width: 100%;
	height: 450px;
}
.box {
    background: none repeat scroll 0 0 #C69633;
    height: 100%;
    line-height: 0px;
    transform: perspective(1900px) rotateX(45deg);
	-ms-transform:perspective(1900px) rotateX(45deg); /* IE 9 */
	-webkit-transform:perspective(1900px) rotateX(45deg); /* Opera, Chrome, and Safari */	    
}
.box img {
	padding: 0;
	border: 0;
	transform: rotate(-15deg);
	-ms-transform:rotate(-15deg); /* IE 9 */
	-webkit-transform:rotate(-15deg); /* Opera, Chrome, and Safari */	
}
#ball {
	padding: 0;
	border: 0;
	transform: rotate(10deg);
	-ms-transform:rotate(10deg); /* IE 9 */
	-webkit-transform:rotate(10deg); /* Opera, Chrome, and Safari */	
}
.ballaction {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    font-size: 20px;
    border: 1px solid #2d6898;
    cursor: pointer;
	width: 130px;
    margin-bottom: 20px;
}
#ballpath {
	z-index: 1000;
}

